@import "tailwindcss";

:root {
    --azulclaro: #016DA7;
    --azulescuro: #004164;
    --branco: #E3E3E3;
    --cinza: #827979;
    --preto: #2C2A2A;
    --vermelho:rgb(144, 27, 27);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; 
  appearance: textfield;      
}

/* Scrollbar customizado */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}
